@font-face {
  font-family: "fontPorsche";
  src: url("../font/911porschav3.ttf") format("truetype");
}
:root {
  --color-grey: #F2F2F2;
  --color-white: #ffffff;
}

.white-str {
  color: white;
}

.hidden {
  display: none;
}

.greyBg {
  background-color: var(--color-grey);
}

.colorheader {
  background-color: white;
}

.bg-txt {
  background-color: var(--color-white);
}

.marge-container-1 {
  width: calc(100% - 200px);
  margin: auto;
}

.squarePic {
  height: 400px;
  width: 100%;
}

.img-car-square {
  background-size: cover;
}

.txt-part-1 {
  height: 200px;
}

.no-decorator {
  text-decoration: none;
  color: black;
}

body {
  background-color: var(--color-grey);
}

header {
  top: 0;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.26);
}
header nav {
  height: 90px;
}
header nav img {
  scale: 0.5;
}
header nav a {
  font-size: 1.5em;
  transition: 0.2s;
  width: 50px;
  font-family: fontPorsche;
}
header nav a:hover {
  letter-spacing: 1px;
  color: #5b5b5b;
  transition: 0.3s;
}
header nav button {
  background-color: white;
  width: 130px;
  height: 43px;
  border: solid 2px black;
  border-radius: 6px;
  transition: 0.3s;
}
header nav button:hover {
  border: solid 2px #87151a;
  color: #926e39;
  transition: 0.3s;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.arrow-home-car img {
  transition: 0.3s;
}

.arrow-home-car:hover img {
  transition: 0.3s;
  rotate: -270deg;
  scale: 1.1;
}

section.home div.home-div {
  height: 100vh;
}
section.home div.home-div div.squarePic {
  transition: 0.2s;
}
section.home div.home-div div.squarePic:hover {
  scale: 0.9;
  transition: 0.3s;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}
section.home div.home-div div.bg-txt h2 {
  transition: 0.2s;
}
section.home div.home-div div.bg-txt h2:hover {
  letter-spacing: 1px;
  color: #5b5b5b;
  transition: 0.3s;
  cursor: pointer;
}
section.home div.home-div div.bg-txt a {
  transition: 0.2s;
}
section.home div.home-div div.bg-txt a:hover {
  letter-spacing: 1px;
  color: #5b5b5b;
  transition: 0.3s;
}
.square-pic-shop {
  height: 500px;
  width: 100%;
  background-size: cover;
}

div.shop {
  height: 100vh;
}

div.shop-details {
  height: 100vh;
  background-color: white;
}

section.shop a.no-decorator {
  transition: 0.2s;
}
section.shop a.no-decorator:hover {
  letter-spacing: 1px;
  color: #5b5b5b;
  transition: 0.3s;
}
section.shop div.square-pic-shop {
  transition: 0.2s;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.26);
}
section.shop div.square-pic-shop:hover {
  scale: 0.9;
  transition: 0.3s;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.26);
}

.container-pricing {
  background: linear-gradient(#eeeeee, #d5d5d5);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.28);
}

.ico-details-shop {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  width: 15%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.26);
}

.under-title-feature {
  color: rgba(0, 0, 0, 0.45);
}

.btn-shop-details {
  background-color: white;
  border-radius: 8px;
  width: 137px;
  height: 41px;
  transition: 0.2s;
}

.btn-shop-details:hover {
  letter-spacing: 1px;
  background-color: #000000;
  transition: 0.8s;
  color: white;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.26);
}

.container-pricing ul {
  list-style-type: none;
  padding-left: 0;
}
.container-pricing ul li {
  color: rgba(0, 0, 0, 0.45);
}

section.blog .blog-div {
  height: 100vh;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog {
  border-radius: 8px;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.26);
  transition: 0.3s;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog h1 {
  font-size: 3.5em;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.45);
  transition: 0.3s;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog:hover h1 {
  color: rgba(218, 218, 218, 0.84);
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog div.p-3 p.pt-2 {
  color: white;
  background-color: black;
  width: 120px;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog div.p-3 p.pt-2:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(234, 175, 175, 0.37));
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog div.p-3 h3.p-4 {
  color: white;
  background-color: black;
}
section.blog .blog-div div.m-auto div.row div.col-md-4 div.img-bloc-glog div.p-3 h3.p-4:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(234, 175, 175, 0.37));
}
section.blog .blog-div div.m-auto div.row div.flex-column div.img-bloc-glog:hover {
  color: rgba(218, 218, 218, 0.84);
}
section.blog .blog-div div.m-auto div.row div.flex-column div.img-bloc-glog:hover {
  color: rgba(218, 218, 218, 0.84);
}

section.contact .contact-div {
  height: 100vh;
}
section.contact .contact-div .container-xxl div.top-block-ct {
  transition: 0.3s;
  background-color: black;
}
section.contact .contact-div .container-xxl div.top-block-ct h1 {
  font-size: 4em;
}
section.contact .contact-div .container-xxl div.top-block-ct a.pt-5 {
  font-size: 1.2em;
}
section.contact .contact-div .container-xxl div.top-block-ct:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.45);
  transition: 0.3s;
  border-radius: 8px;
}
section.contact .contact-div .container-xxl div.bottom_blocks div.bottom-bloc-1 {
  transition: 0.3s;
}
section.contact .contact-div .container-xxl div.bottom_blocks div.bottom-bloc-2 {
  transition: 0.3s;
}
section.contact .contact-div .container-xxl div.bottom_blocks div.bottom-bloc-1:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}
section.contact .contact-div .container-xxl div.bottom_blocks div.bottom-bloc-2:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}
section.contact .contact-div-2 {
  height: 100vh;
}

.bor-inp-cnt {
  border-radius: 8px;
}

.contact-form-c {
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.45);
  width: 15%;
}
.contact-form-c input {
  border-radius: 8px;
}
.contact-form-c textarea {
  border-radius: 8px;
  height: 100px;
}
.contact-form-c button {
  margin: auto;
  width: 50%;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
